body {
    font-family: sans-serif;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
  }
  

  
  .logo {
    width: 265px;
height: 48px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #333333;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #f16529;
    color: #fff;
    cursor: pointer;
  }
  
  .social-login {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-login a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #000;
  }
  
  .social-login a:hover {
    background-color: #ccc;

  }

.use {
    /* Use your email or other serivce to continue with us */

width: 402px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #666666;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
  