.container {
  /* Backdrop */

position: absolute;
width: 1919px;
height: 1080px;
left: 1px;
top: 0px;

background: rgba(17, 17, 17, 0.2);
backdrop-filter: blur(9px);
/* Note: backdrop-filter has minimal browser support */
}